@media (max-width: 1200px){
    .cabecalho-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
       
    } 
    
    .cabecalho{
        gap: -10px;
    }
    
}

@media (max-width: 900px){
    .minha-apresentacao{
        flex-direction: column;
       
    }
    .redes1{
        margin-bottom: 50px;

    }

    .apresentacao-conteudo-sobre-mim{
        margin-bottom: 100px;

    }

    .imagem-sobre {
        margin-bottom: 50px;
        margin-top: -100px;
    }
}

@media (max-width: 860px){
   .menu-mobile{
        display: flex;

    }

    .cabecalho {
        display: none;
    }

     .minha-apresentacao{
        margin-top: 200px;
     }
}




@media (max-width: 490px){
    
    .imagem-sobre {
        width: 250px;
        margin-bottom: 60px;
        margin-top: -100px;
    }
}


@media (max-width: 440px){

    .titulo-sobre-mim{
        font-size: 2.5rem;
    }

    .apresentacao-conteudo-paragrafo{
        width: 100%;
        word-break: break-word;
    }


    .imagem-sobre {
        width: 250px;
        margin-bottom: 60px;
        margin-top: -100px;
    }
}


@media (max-width: 385px){

    .apresentacao-conteudo-paragrafo{
        width: 100%;
        word-break: break-word;
        padding: 12px;
    }

   
}

@media (max-width: 320px){


    .apresentacao-conteudo-paragrafo{
        width: 100%;
        word-break: break-word;
        padding: 10px;
    }

}