@media (max-width: 1200px){
    .cabecalho-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
       
    } 
    
    .cabecalho{
        gap: -10px;
    }

    .cartao-habil img{
        width: 100px;

    }

    .cartao-habil{
       width: 155px;
    }

    .cartao-habil p{
        font-size: 1.0rem;
    }
    
}

@media (max-width: 1130px){
    .apresentacao-h{
        padding: 15px 50px ;
    }

    .caixa-cursos{
        margin-right: 12px;
        gap: 25px;
    }


}

@media (max-width: 860px){
    .cabecalho {
        display: none;
    }
   .menu-mobile{
        display: flex;
        z-index: 10;
    }
    .habilidades{
        margin-top: 50px;
    }
    .titulo-habil h1{
        font-size: 2.6rem;
    }

}

@media (max-width: 720px){

    .conteiner-principal-habil{
        padding: 0;
    }

    .habilidades{
        padding: 0;
    }

    .titulo-habil{
        margin-top: 100px;
        padding: 0;
    }
    .caixa-cursos{
        margin-right: 10px;
        gap: 25px;
    }
    .caixa-seta{
        margin-bottom: 150px;
    }

}

@media (max-width: 690px){

    .titulo-habil h1{
       
        font-size: 2.7rem;
    }

    .cartao-habil{
        height: 290px;
    }

    .caixa-seta{
        margin-bottom: 150px;
    }
}  


@media (max-width: 630px){

    .apresentacao-h{
        padding: 15px 20px ;
    }

    .t-cursos{
        font-size: 3.2rem;
    }

    .caixa-cursos{
        margin-right: 15px;
        gap: 25px;
    }

}

    @media (max-width: 590px){


    .conteiner-principal-habil{
        height: auto;
    }

    .habilidades{
        padding: 5px;
    }

    .titulo-habil h1{
        font-size: 2.7rem;
    }

    .cartao-habil{
        height: 290px;
    }

    .caixa-seta{
        margin-bottom: 120px;
    }
}

@media (max-width: 520px){

    .titulo-habil h1{
       margin-top: -100px;
        font-size: 2.3rem;
    }

    .caixa-seta img{
        width: 80px;
    }

     .cartao-habil img{
        
        width: 45%;
    }

     .cartao-habil{
        gap: 5px;
        width: 150px;
        height: 250px;
       
    }
}

@media (max-width: 385px){
    .titulo-habil {
        width: 100%;
        text-align: center;
    }

    .cartao-habil{
        gap: 5px;
        width: 190px;
        height: 250px;
       
    }

    .cartao-habil img{
        
        width: 40%;
    }

     .cartao-habil p{
        height: 45%;
        font-size: 1.0rem;
        padding: 10px;

    }


    .t-cursos{
        font-size: 2.6rem;
    }
}



