/* CABEÇALHO */

@media (max-width: 1200px) {
.cabecalho-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
} 

.cabecalho{
    gap: -10px;
}

.apresentacao{
    justify-self: center;
    flex-direction: row;
    width: 95%;
    margin: 0;
    gap: 50px;
}

.container-img-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    width: 850px;
    height: 50px;
    text-align: center;
   
 }

 .textos-home{
    width: 90%;
    margin-bottom: 40px;
}

.btns-redes-home{
    margin-bottom: 50px;
}



}

@media (max-width: 900px){

    .cabecalho-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    } 

    .apresentacao{
        justify-self: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .container-img-home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 90px;
        width: 350px;
        height: 50px;
        text-align: center;
       
     }

     .textos-home{
        width: 95%;
        margin-bottom: 50px;
    }

}

@media (max-width: 790px){
    .cabecalho-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    } 

    .cabecalho-menu-link{
        padding:5px 0px;
        width: 140px;
        font-size: 16px;
    }

    .cabecalho-menu-link:hover{
        padding: 5px 0px;
    }

    .apresentacao{
        justify-self: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .container-img-home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 90px;
        width: 250px;
        height: 50px;
        text-align: center;
       
     }

     .container-img-home img{
        width: 350px;
     }
    

}

@media (max-width: 690px){
 .cabecalho-menu{
    gap: 15px;
    width: 100%;
 }

 .container-img-home{
    margin-top: 150px;
    width: 250px;
    height: 50px;
    margin-bottom: 100px;
   
 }

}

@media (max-width: 630px){
    .cabecalho-menu{
        gap: 10px;
     }

     .cabecalho-menu-link{
        padding:5px 0px;
        width: 130px;
        font-size: 14px;
    }

    .cabecalho-menu-link:hover{
        padding: 5px 0px;
    }

    .apresentacao-botoes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;


    }

    .container-img-home {
        margin-top: 130px;
        width: 250px;
        height: 100px;
       
     }

}

@media (max-width: 580px){
    .cabecalho-menu{
        gap: 10px;
        width: 101%;
        margin-bottom: 100px;
     }

     .cabecalho-menu-link {
        padding:5px 4px;
        width: 100px;
        font-size: 13px;
    }

    .cabecalho-menu-link:hover{
        padding: 5px 4px;
    }
     .apresentacao{
        justify-self: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    } 

    .apresentacao-conteudo{
        width: 99%;

       
    }

     .container-img-home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 140px;
        margin-bottom: 90px;
        width: 250px;
        height: 50px;
        text-align: center;
       
     } 

     .container-img-home img{
        width: 300px;

     }
     
}

@media (max-width: 490px){
    
    .cabecalho-menu{
        text-align: center;
        gap: 15px;
        width: 100%;
        margin-bottom: 160px;
     }

     .cabecalho-menu-link {
        padding: 5px 5px;
        width: 98px;
        height: 42px;
        font-size: 12px;
        text-align: center;
    }
    .cabecalho-menu-link:hover{
        padding: 5px 5px;
    }


    .apresentacao-conteudo{
        width: 99%;

       
    }

    .textos-home{
        margin-bottom: 30px;
    }

    .apresentacao-conteudo-titulo{
        font-size: 1.53rem ;
        
    }

    .apresentacao-conteudo-paragrafo-home{
        font-size: 1.2rem ;

    }

    .links-subtitulo{
        font-size: 1.1rem;
    }

    .apresentacao-link{
        width: 105px;
       padding: 8px 10px;
    }

    .apresentacao-link:hover{
        padding: 8px 10px;
    }

    .rodape{
        font-size: 0.8rem ;

    }


}

@media (max-width: 385px){

    .cabecalho-menu{
        gap: 8px;
    }

    .cabecalho-menu-link{
        font-size: 0.6rem;
    }

    .links-subtitulo{
        font-size: 1.0rem;
    }

    .apresentacao-botoes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;


    }

    .btns-redes-home{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 5px;
    }

    .apresentacao-link{
        font-size: 0.8rem;
        width: 95px;
       padding: 6px 8px;
    }

    .apresentacao-link:hover{
        padding: 6px 8px;
    }

    .container-img-home img{
        text-align: center;
       width: 250px;
     }
}




