/* CABEÇALHO */

@media (max-width: 1200px) {
.cabecalho-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
} 

.cabecalho{
    gap: -10px;
}

.apresentacao{
    justify-self: center;
    flex-direction: row;
    width: 95%;
    margin: 0;
    gap: 50px;
}

.container-img-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    width: 850px;
    height: 50px;
    text-align: center;
   
 }

 .textos-home{
    width: 90%;
    margin-bottom: 40px;
}

.btns-redes-home{
    margin-bottom: 50px;
}



}

@media (max-width: 900px){

    .cabecalho-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    } 

    .apresentacao{
        justify-self: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .container-img-home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 90px;
        width: 350px;
        height: 50px;
        text-align: center;
       
     }

     .textos-home{
        width: 95%;
        margin-bottom: 50px;
    }

}

@media (max-width: 790px){

    .menu-mobile{
        display: flex;
    }

    .cabecalho {
        display: none;
    }

    
    .apresentacao{
        justify-self: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .container-img-home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 90px;
        width: 250px;
        height: 50px;
        text-align: center;
       
     }

     .container-img-home img{
        width: 350px;
     }
    

}

@media (max-width: 690px){

 .container-img-home{
    margin-top: 150px;
    width: 250px;
    height: 50px;
    margin-bottom: 100px;
   
 }

}

@media (max-width: 630px){

    .apresentacao-botoes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;


    }

    .container-img-home {
        margin-top: 130px;
        width: 250px;
        height: 100px;
       
     }

}

@media (max-width: 580px){
   
     .apresentacao{
        justify-self: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    } 

    .apresentacao-conteudo{
        width: 99%;
        margin-top: 260px;

       
    }

     .container-img-home{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 140px;
        margin-bottom: 90px;
        width: 250px;
        height: 50px;
        text-align: center;
       
     } 

     .container-img-home img{
        width: 300px;

     }
     
}

@media (max-width: 555px){
    .btn-icones{
        width: 15px;
    }

    .apresentacao-link{
        gap: 5px;
    }

}

@media (max-width: 490px){


    .apresentacao-conteudo{
        width: 99%;

       
    }

    .textos-home{
        margin-bottom: 30px;
    }

    .apresentacao-conteudo-titulo{
        font-size: 1.53rem ;
        
    }

    .apresentacao-conteudo-paragrafo-home{
        font-size: 1.2rem ;

    }

    .links-subtitulo{
        font-size: 1.1rem;
    }

    .apresentacao-link{
        width: 115px;
       padding: 8px 10px;
    }

    .apresentacao-link:hover{
        padding: 8px 10px;
    }

    .btn-icones{
        width: 12px;
    }

    .rodape{
        font-size: 0.8rem ;

    }


}

@media (max-width: 385px){

    .links-subtitulo{
        font-size: 1.0rem;
    }

    .apresentacao-botoes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;


    }

    .btns-redes-home{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 5px;
    }

    .apresentacao-link{
        font-size: 0.8rem;
        width: 97px;
       padding: 6px 8px;
    }

    .apresentacao-link:hover{
        padding: 6px 8px;
    }

    .container-img-home img{
        text-align: center;
       width: 250px;
     }
}




