@media (max-width: 1200px) {
    .cabecalho-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 100px;
    } 
    
    .cabecalho{
        gap: -10px;
    }
}


@media (max-width: 860px){
   .menu-mobile{
        display: flex;
        z-index: 10;
    }

    .cabecalho {
        display: none;
    }

    .projetos .titulo{
        margin-top: 50px;
    }

}



@media (max-width: 630px){

    .projetos .titulo{
        font-size: 3.0rem;

    }

   
}


@media (max-width: 520px){

    body{
        padding: 10px 20px;
    }
   
    .projetos .titulo{
        font-size: 2.8rem;

    }
}

@media (max-width: 430px){

    .projetos .titulo{
        font-size: 2.1rem;

    }

    .projetos .btn-mostrar-projetos {
        width: 150px;
        padding: 10px;
        font-size: 1.0rem;
    }
}


